<h1>Login</h1>

<h4>You are not logged in.</h4>
<h4>Please sign in through one of available methods:</h4>

<div class="container">
<div class="row">
<cool-google-button color="dark" (click)="login('google')">
  Login with Google
</cool-google-button>
</div>

<div class="row">
<cool-facebook-button color="dark" (click)="login('facebook')">
  Login with Facebook
</cool-facebook-button>
</div>
<div class="row">
  <a href="/register" class="btn-info">You don't have an account. Sign Up!</a>
</div>

</div>
