<p>create-project works!</p>
<table>
<tr>
  <td><label>Project Title</label></td>
  <td><input [(ngModel)]="project.title" type="text" placeholder="put Project Name here"></td>
</tr>

<tr>
  <td><label>Project Description</label></td>
  <td><input [(ngModel)]="project.description" type="text" placeholder="put Project Description here"></td>
</tr>

<tr>
  <td><label>Administrator</label></td>
  <td><label> testAdministrator123</label></td>
</tr>
<button (click)="addProject()">Create</button>

</table>


