<div cdkDropListGroup>
  <div class="example-container">
    <h2>Resources</h2>

    <div cdkDropList
         [cdkDropListData]="resources"
         class="example-list"
         (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of resources" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>Backlog</h2>

    <div cdkDropList
         [cdkDropListData]="backlog"
         class="example-list"
         (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of backlog" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>To Do</h2>

    <div cdkDropList
         [cdkDropListData]="toDo"
         class="example-list"
         (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of toDo" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>Doing</h2>

    <div cdkDropList
         [cdkDropListData]="doing"
         class="example-list"
         (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of doing" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>Blocked</h2>

    <div cdkDropList
         [cdkDropListData]="blocked"
         class="example-list"
         (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of blocked" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>QC</h2>

    <div cdkDropList
         [cdkDropListData]="qC"
         class="example-list"
         (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of qC" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>Done</h2>

    <div cdkDropList
         [cdkDropListData]="done"
         class="example-list"
         (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
    </div>
  </div>
</div>
