<button (click)="showTasks()"> Siemanko</button>

<div cdkDropListGroup>
  <div class="example-container">
    <h2>BACKLOG</h2>

    <div cdkDropList
         [cdkDropListData]="BACKLOG"
         class="example-list"
         (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of BACKLOG" cdkDrag>{{item}}</div>
    </div>
    <input type="text" placeholder="add new item" #newBACKLOG (keyup.enter)="addBACKLOGItem(newBACKLOG.value);newBACKLOG.value=''" />
  </div>

  <div class="example-container">
    <h2>TODO</h2>

    <div cdkDropList
         [cdkDropListData]="TODO"
         class="example-list"
         (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of TODO" cdkDrag>{{item}}</div>
    </div>
    <input type="text" placeholder="add new item" #newTODO (keyup.enter)="addTODOItem(newTODO.value);newTODO.value=''" />
  </div>

  <div class="example-container">
    <h2>IN PROGRESS</h2>

    <div cdkDropList
         [cdkDropListData]="IN_PROGRESS"
         class="example-list"
         (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of IN_PROGRESS" cdkDrag>{{item}}</div>
    </div>
    <input type="text" placeholder="add new item" #newIN_PROGRESS (keyup.enter)="addIN_PROGRESSItem(newIN_PROGRESS.value);newIN_PROGRESS.value=''" />
  </div>

  <div class="example-container">
    <h2>QA</h2>

    <div cdkDropList
         [cdkDropListData]="QA"
         class="example-list"
         (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of QA" cdkDrag>{{item}}</div>
    </div>
    <input type="text" placeholder="add new item" #newQA (keyup.enter)="addQAItem(newQA.value);newQA.value=''" />
  </div>

  <div class="example-container">
    <h2>DONE</h2>

    <div cdkDropList
         [cdkDropListData]="DONE"
         class="example-list"
         (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of DONE" cdkDrag>{{item}}</div>
    </div>
    <input type="text" placeholder="add new item" #newDONE (keyup.enter)="addDONEItem(newDONE.value);newDONE.value=''" />
  </div>

</div>

