<p>Task ID: {{task.id}}</p>

<table>
  <tr>
    <td><label>Task Name: </label></td>
    <td><input [(ngModel)]="task.name" type="text"></td>
  </tr>

  <tr>
    <td><label>Description: </label></td>
    <td><input [(ngModel)]="task.description"type="text"></td>
  </tr>

  <tr>
    <td><label>Progress: </label></td>
    <td>
        <select name="status" id="status" [(ngModel)]="task.progress">
          <option *ngFor="let status of statuses" value="{{status}}">{{status}}</option>
        </select>
    </td>
  </tr>

  <tr>
    <td><label>Story Points: </label></td>
    <td><input [(ngModel)]="task.storyPoints" type="text"></td>
  </tr>
  <tr>
    <td><button type="button" class="btn btn-secondary" (click)="onBack()">Back</button></td>
    <td><button type="button" class="btn btn-success" (click)="updateTask()">Update</button></td>
    <td><button type="button" class="btn btn-danger" (click)="deleteTask()">Delete</button></td>
  </tr>
</table>

