<p>register works!</p>
<table>
  <tr>
    <td><label>Login</label></td>
    <td><input [(ngModel)]="username" placeholder="enter your login" /></td>
  </tr>

  <tr>
    <td><label>Password</label></td>
    <td><input [(ngModel)]="password" type="password" placeholder="enter your password" /></td>
  </tr>

  <tr>
    <td><label>Reenter Your Password!</label></td>
    <td><input [(ngModel)]="retypedPassword" type="password" placeholder="enter your password" /></td>
  </tr>
</table>
<button (click)="registerUser()">Register</button>

<div class="error" *ngFor="let errmsg of errorMessages">{{msg}}</div>
